@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
        /*Start Banner Section*/
.banner-section{
    height: 500px;
    background: url("../images/top-banner.png");
    background-repeat: no-repeat;
    background-position: cover;
}
    /*left site */
.left-site{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 3%;
}
.left-site h1{
    font-size: 40px;
    margin-bottom: 0;
}
.left-site h2{
    font-size: 30px;
    
}
.left-site span{
    color: yellowgreen;
    cursor: pointer;
}
.left-site p.sub-title{
    font-weight: bold;
    font-size: 18px;
}
.contact-btn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color:cyan;
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(45deg,blue,green);
    
}
.contact-btn:hover{
    color: white ;
    background:linear-gradient(red,yellowgreen);
    transition: 1s;
}
    /*Right site*/
.right-site{
    width: 40%;
    float: left;
    margin-left: 3%;

}
.right-site img{
    width: 100%;
    max-width: 500px;
    padding-top: 30px;

}
        /*Start Middle Section*/
.middle-scetion{
    height: 500px;
    padding: 20px 0;
    background: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.middle-left{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.middle-left img{
    width: 100%;
    max-width: 400px;
    margin-left: 5%;

}
.middle-right{
    width: 40%;
    float: left;
    margin-left: 10%;
}
.middle-right h1{
    font-size: 40px;
    color: #333;
    font-weight: 700;
}
.middle-right h3{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.middle-right p{
    font-size: 15px;;
    width: 80%;
}
.middle-right a{
    text-decoration: none;
    text-transform: uppercase;
    background:linear-gradient(45deg, red,yellowgreen);
    padding: 1% 5%;
    color:rgb(36, 88, 185);
    font-weight: 600;
}
.middle-right a:hover{
    background: linear-gradient(45deg,blue,green);
    color:#fff;
}